body {
  font-family: -apple-
    system,BlinkMacSystemFont,Segoe UI,
    Roboto,Oxygen-Sans,Ubuntu,Cantarell,
    Helvetica Neue,
    sans-serif;
}


li {
  list-style-type: none;
}

.container {
  /* max-width: 1200px; */
  margin: 0, auto;
}

.publishers {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 50px
} 


.news-Image {
  width: 170px;
  border-radius: 10%;
}

.news-item {
  font-family: 'Roboto', sans-serif;
}

.news-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-bottom: 10px;
}

.news-description {
  font-size: 15px;
  font-weight: 500;
  color: lightgray;
  margin-bottom: 10px;
}

.news-publishtime {
  font-size: 12px;
  font-weight: 200;
  color: grey;
}

.nav {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 80;
}

